body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

main {
    padding: 1rem;
}

.product, .cart-item {
    background-color: #ffffff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
        display: inline-block;
        padding: 10px 10px;
        text-align: center;
        color: #ffffff;
        background-color: Red;
        border-radius: 6px;
        transition: 0.3s;

		position: relative;
}

button:hover {
    background-color: #0056b3;
}

form label {
    display: block;
    margin-top: 10px;
}

form input {
    width: 50%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#order-summary {
    margin-top: 20px;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    padding: 20px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 8px;
    
}

.gallery-item img {
    width: 50%;
    height: 350px;
    display: block;
    border-radius: 8px;
    transition: transform 1s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}
 h1 {
            text-align: center;
			font-size:40px;
        }
		
		
		
	.top {
	border: 10px outset red;
	background-color: lightyellow;    
	text-align: center;
}	
	.mid {
	border: 10px outset red;
	background-color: transparent;    
	text-align: center;
}	
	.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
      .button {
        display: inline-block;
        padding: 20px 50px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: Red;
        border-radius: 6px;
        outline: none;
        transition: 0.3s;
      }
      .button:hover {
        background-color: #F4C524;
      }
	  
	  body {
	background-image: url("bgfade.png");
	background-color: gray;
	background-position: center;
	background-size: cover
	}
      .button1 {
        display: inline-block;
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: Red;
        border-radius: 6px;
        outline: none;
        transition: 0.3s;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
      }
      .button1:hover {
        background-color: #F4C524;
 
}


